<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <div formGroupName="user" class="form-area">
                    <div class="row">
                        <div class="col-md-2"><label>Login</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="login" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Hasło</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="password" type="password">
                            </div>
                        </div>
                    </div>
                </div>      
                 
            
                <div class="text-center">
                        <button type="submit" class="btn btn-info">Zaloguj się</button>
                </div>
            </form> 

            <div *ngIf="isPasswordWrong === true" class="alert alert-warning col-md-12" role="alert">
                Nieprawidłowe hasło!
            </div>
        </div>
    </div>
</div>

