<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">

                <div *ngFor="let game of games" class="col-md-4">
                    <div class="product-box">
                        
                        <a routerLink="/games/{{ game.id }}">
                            <img src="{{ game.imageUrl }}" class="img-responsive"/>
                        </a>

                        <br/>

                        <a routerLink="/games/{{ game.id }}">
                            <h1>{{ game.name }}</h1>
                        </a>

                        <h2>{{ game.description }}</h2>
                        <div class="price">{{ game.unitPrice }} ZŁ</div>
                        <button (click)="addToCart(game)" class="btn btn-primary btn-sm">KUP</button>
                    </div>
                </div>

                <div *ngIf="games?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No games found!
                </div>

            </div>
        </div>
    </div>    
</div>