<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">

                <div *ngFor="let game of games" class="col-md-4">
                    <div class="product-box">
                        <img src="{{ game.imageUrl }}" class="img-responsive"/>
                        <h1>{{ game.name }}</h1>
                        <h2>{{ game.description }}</h2>
                        <div class="price">{{ game.unitPrice }} ZŁ</div>
                        <a href="#" class="primary-btn">KUP</a>
                    </div>
                </div>

                <div *ngIf="games?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No games found!
                </div>

            </div>
        </div>
    </div>    
</div>